{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<section class="mb-4">

   <br>
    <h2 class="h1-responsive font-weight-bold text-center my-4" style="font-size: 45px; color: white;">Contact us</h2>
    
    <p class="text-center w-responsive mx-auto mb-5"  style="font-size: 22px; color: white;">Buy or Repair ? Please do not hesitate to contact us directly. Our team will contact you within hours to help you.</p>

    <center>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-location-dot mt-4 fa-2x" style="color: white;"></i>
                    <p style="font-size: 18px; color: rgb(133, 133, 133);">6GHJ+R6 Haldwani, Uttarakhand</p>
                </li>
                <br>

                <li><i class="fas fa-phone mt-4 fa-2x" style="color: white;"></i>
                    <p style="font-size: 18px; color: rgb(133, 133, 133);">09837098599</p>
                </li>
                <br>

                <li><i class="fas fa-envelope mt-4 fa-2x" style="color: white;"></i>
                    <p style="font-size: 18px; color: rgb(133, 133, 133);">planetcomputers@gmail.com</p>
                </li>
            </ul>
        </div>
    </center>

    

</section>
{% endblock %}